extends ../templates/default.jade
block page

    section.section--main
        .section__wrap.section__wrap--main
            .section__body.section__flex
                .section__body__header
                    h1.section__title 
                        | Genera ingresos extras, 
                        br 
                        | combatiendo el <span>Cambio Climático</span>
                    p.section__description Curabitur ac dolor fringilla tortor accumsan venenatis feugiat ac magna. Phasellus eu eros vel odio sodales consequat.
                .section__body__body
                    .section__content
                        .cols 
                            .col-md-6
                                .section__image
                                    img(src="img/uploads/iPhone 12 Mini - Front 1.svg", alt="", srcset="")
                                .section__content
                                    h3.section__title Envía tus encomiendas ayudando al medio ambiente
                                    p.section__description Curabitur ac dolor fringilla tortor accumsan venenatis feugiat ac magna. Phasellus eu eros vel odio sodales consequat.
                                    a.btn(href="#") Ir a la app 
                            .col-md-6
                                .section__image
                                    img(src="img/uploads/iPhone 12 Mini - Front 2.svg", alt="", srcset="")
                                .section__content.section__content--right
                                    h3.section__title Obtén ingresos extras, combatiendo el Cambio Climático
                                    p.section__description Curabitur ac dolor fringilla tortor accumsan venenatis feugiat ac magna. Phasellus eu eros vel odio sodales consequat.
                                    a.btn(href="#") Quiero ser biker
    section.section--media
        .section__wrap
            .section__body
                .cols
                    .col-xs-12.col-md-6
                        .section__image 
                            img(src="img/uploads/fotobici1.svg", alt="", srcset="")
                    .col-xs-12.col-md-6
                        .section__transparent
                            .section__transparent__box
                                h3.section__title ¿Que es biketing?
                                p.section__dscription Curabitur ac dolor fringilla tortor accumsan venenatis feugiat ac magna. Phasellus eu eros vel odio sodales consequat. In faucibus, turpis vitae consequat laoreet, erat ante pharetra    nulla, non semper lectus sapien non sapien. Pellentesque at neque urna. Ut dolor turpis, sollicitudin eget justo ut, tempor efficitur enim. Aenean lobortis tellus libero.
                                a.btn(href="#") Ir a la APP

    section.section--media
        .section__wrap
            .section__body
                .cols
                    .col-xs-12.col-md-6.col-md-push-6
                        .section__image 
                            img(src="img/uploads/misionvision.svg", alt="", srcset="")
                    .col-xs-12.col-md-6.col-md-pull-6
                        .section__transparent
                             .section__transparent__box
                                 h3.section__title Mision
                                 p.section__dscription Reducir la huella de carbono de cada habitante, mejorar la calidad del aire para entornos residenciales. Ofrecer responsabilidad social, tanto a personas como a empresas, para hacerlos     participe de una mejor calidad de vida con esta maquina que combate el cambio climático, la bicicleta.
                                 h3.section__title Vision
                                 p.section__dscription Ser la primera solución de logística de última milla amigable con el medio ambiente, sumado a incentivar el uso de la bicicleta con el marketing sustentable. Esperamos crear un     ecosistema verde que conecte a las personas y a las empresas con el mismo valor, la responsabilidad social.

    section.section--features
        .section__wrap
            .section__body
                .section__body__header
                    h3.section__header Caracteristicas
                    p.section__description: +lorem(15)
                .section__body__body
                    .cols
                        .col-xs-6.col-md-4
                            article.article--features
                                .article__icon
                                        img(src="img/icons/Vector-1.svg", alt="")
                                .article__body
                                    h4.article__title Entregas más rápidas en ciudades congestionadas
                                    p.article__description Entregamos un 60% más rápido en bicicleta que en un auto en horario punta.
                        .col-xs-6.col-md-4
                            article.article--features
                                .article__icon
                                        img(src="img/icons/Vector-2.svg", alt="")
                                .article__body
                                    h4.article__title Entregas más rápidas en ciudades congestionadas
                                    p.article__description Entregamos un 60% más rápido en bicicleta que en un auto en horario punta.
                        .col-xs-6.col-md-4
                            article.article--features
                                .article__icon
                                        img(src="img/icons/Vector-3.svg", alt="")
                                .article__body
                                    h4.article__title Entregas más rápidas en ciudades congestionadas
                                    p.article__description Entregamos un 60% más rápido en bicicleta que en un auto en horario punta.
                        .col-xs-6.col-md-4
                            article.article--features
                                .article__icon
                                        img(src="img/icons/Vector-4.svg", alt="")
                                .article__body
                                    h4.article__title Entregas más rápidas en ciudades congestionadas
                                    p.article__description Entregamos un 60% más rápido en bicicleta que en un auto en horario punta.
                        .col-xs-6.col-md-4
                            article.article--features
                                .article__icon
                                        img(src="img/icons/Vector-5.svg", alt="")
                                .article__body
                                    h4.article__title Entregas más rápidas en ciudades congestionadas
                                    p.article__description Entregamos un 60% más rápido en bicicleta que en un auto en horario punta.
                        .col-xs-6.col-md-4
                            article.article--features
                                .article__icon
                                        img(src="img/icons/Vector.svg", alt="")
                                .article__body
                                    h4.article__title Entregas más rápidas en ciudades congestionadas
                                    p.article__description Entregamos un 60% más rápido en bicicleta que en un auto en horario punta.

    section.section--testimonies
        .section__wrap
            .section__header
                h3.section__title Experiencias
            .section__body
                .section__avatars
                    .section__avatar.current
                        img(src="img/avatar/1.jpg")
                    .section__avatar
                        img(src="img/avatar/2.jpg")
                    .section__avatar
                        img(src="img/avatar/1.jpg")
                    .section__avatar
                        img(src="img/avatar/2.jpg")
                    .section__avatar
                        img(src="img/avatar/1.jpg")
                    .section__avatar
                        img(src="img/avatar/2.jpg")
                    .section__avatar
                        img(src="img/avatar/1.jpg")
                    .section__avatar
                        img(src="img/avatar/2.jpg")
                    .section__avatar
                        img(src="img/avatar/1.jpg")
                .section__testimonies
                    .section__testimony.in
                        .section__testimony--header
                            h4.section__title Eduardo Acevedo
                            p.section__description Nutricionista
                        .section__testimony--body
                            p.section__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel suscipit voluptatum deserunt eum reiciendis dolorum eos, aperiam minus illo aut sapiente, cum nisi ratione ipsum? Possimus, itaque, quod. Dicta, obcaecati.
                    .section__testimony.out
                        .section__testimony--header
                            h4.section__title Jacqueline Cuevas
                            p.section__description Nutricionista
                        .section__testimony--body
                            p.section__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad illum blanditiis porro quam vitae consectetur veritatis beatae aspernatur, dicta est animi, molestias itaque nihil rem unde, possimus temporibus ipsum cumque!
                    .section__testimony.out
                        .section__testimony--header
                            h4.section__title Eduardo Acevedo
                            p.section__description Director
                        .section__testimony--body
                            p.section__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos cumque, quas amet quisquam quidem voluptatibus aspernatur nam! Eius cupiditate, quia ad quaerat vero, reprehenderit nostrum, est modi id minus maxime.
                    .section__testimony.out
                        .section__testimony--header
                            h4.section__title Jacqueline Cuevas
                            p.section__description Director
                        .section__testimony--body
                            p.section__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet minus et maiores fugit inventore animi, dolores delectus, praesentium libero repudiandae error atque. Animi dolores incidunt ad repellendus eaque placeat, architecto.
                    .section__testimony.out
                        .section__testimony--header
                            h4.section__title Eduardo Acevedo
                            p.section__description Director
                        .section__testimony--body
                            p.section__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quidem odio minima eaque quo voluptate, quos provident reprehenderit dolor neque iste nostrum, blanditiis ipsum, pariatur eius eligendi velit in adipisci.
                    .section__testimony.out
                        .section__testimony--header
                            h4.section__title Jacqueline Cuevas
                            p.section__description Director
                        .section__testimony--body
                            p.section__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad illum blanditiis porro quam vitae consectetur veritatis beatae aspernatur, dicta est animi, molestias itaque nihil rem unde, possimus temporibus ipsum cumque!
                    .section__testimony.out
                        .section__testimony--header
                            h4.section__title Eduardo Acevedo
                            p.section__description Director
                        .section__testimony--body
                            p.section__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos cumque, quas amet quisquam quidem voluptatibus aspernatur nam! Eius cupiditate, quia ad quaerat vero, reprehenderit nostrum, est modi id minus maxime.
                    .section__testimony.out
                        .section__testimony--header
                            h4.section__title Jacqueline Cuevas
                            p.section__description Director
                        .section__testimony--body
                            p.section__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet minus et maiores fugit inventore animi, dolores delectus, praesentium libero repudiandae error atque. Animi dolores incidunt ad repellendus eaque placeat, architecto.
                    .section__testimony.out
                        .section__testimony--header
                            h4.section__title Eduardo Acevedo
                            p.section__description Director
                        .section__testimony--body
                            p.section__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quidem odio minima eaque quo voluptate, quos provident reprehenderit dolor neque iste nostrum, blanditiis ipsum, pariatur eius eligendi velit in adipisci.
            
                    
    section.section--support 
        .section__wrap 
            .section__box 
                .section__image 
                    img(src="", alt="", srcset="")
                .section__image 
                    img(src="", alt="", srcset="")
                .section__image 
                    img(src="", alt="", srcset="")
                .section__image 
                    img(src="", alt="", srcset="")
                .section__image 
                    img(src="", alt="", srcset="")
                .section__image 
                    img(src="", alt="", srcset="")
            
    section.section--biketing 
        .section__wrap 
            .section__box 
                .cols 
                    .col-xs-12.col-md-6
                        .section__logo 
                            img(src="", alt="", srcset="")
                        p.section__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam eget neque vitae laoreet. Nam eu tempor ex. Maecenas at quam eros. Orci varius natoque penatibus et magnis dis parturient montes.
                    .col-xs-12.col-md-6
                        .section__logo 
                            img(src="", alt="", srcset="")
                        .section__logo 
                            img(src="", alt="", srcset="")
                        .section__icons
                            ul.section__list 
                                li 
                                    a(href="#")
                                        span.fa.fa-instagram
                                li 
                                    a(href="#")
                                        span.fa.fa-facebook
                                li 
                                    a(href="#")
                                        span.fa.fa-youtube
                            a.btn(href="#") Ir a la APP 


