footer
	color white
	text-align center
	position relative
	background-color white
	font-family $font2
	background white
	border-bottom 10px solid $cyan
	@media $break-sm
		text-align left
	

		text-align center
		.footer__logo
			margin-bottom 20px
			img
				width 250px
		
		 .footer__description
			 font-size 10px
			 line-height 12px
			 font-weight 400
			 opacity .7
			 font-weight 10
			 color #231750
			 max-width 70%
			 margin 0 auto
			 @media $break-md
				font-size 12px
				line-height 14px				 