footer
	color $dark
	text-align center
	position relative
	background-color white
	font-family $font2
	@media $break-sm
		text-align left
		text-align center
	.footer__wrap
		padding 20px 134px
		margin: 50px 0px
		.footer__body
			background-color:  rgba(234, 234, 234, 0.434)
			border-radius: 20px
		.footer__info
			padding: 25px
			.footer__logo
				padding-bottom: 25px
				img	
					margin-left: -5px
			.footer__description
				text-align: left
				max-width: 440px

