header
	background-color: white
	height: 80px
	display: flex
	align-items: center
	justify-content: center
	color $dark
	.header__primary
		width: 100%
		.header__wrap
			padding 0px 127px
			display: flex
			flex-direction: row
			justify-content: space-between
			align-items: center
			nav 
				display: flex
				justify-content: space-between
				gap: 10px
				align-items: center
				ul
					display: inline-flex
					gap: 20px
					li 
						a
							color: $dark
			