header
	.header__primary
		.header__wrap.section__flex
			.header__logo.header__logo--color
				a(href="index.html")
					img(src="./img/logos/logo-biketing 1.svg")

			.header__nav
				.header__nav__nav
					nav
						ul
							li: a(href="index.html") ¿Que es Biketing?
							li: a(href="persons.html") Caracteristicas
							li: a(href="businesses.html") Apoyados por
							li: a(href="docs.html") Equipo fundador
								
			.header__icons
				nav
					ul
						li: a(href="#")
							span.fa.fa-youtube
						li: a(href="#")
							span.fa.fa-instagram
						li: a(href="#l")
							span.fa.fa-facebook
					a.btn.btn--header(href="") Ir a la APP

